#buck-container{
    background-color: darkgrey;     
    width: 100%;  
}
#buck-in-container, #boost-in-container{
    background-color: rgb(133, 127, 127);
    display: flex; 
    width: 100%;  
}
#buck-inputs-container, #boost-inputs-container{
    background-color: rgb(120, 123, 124);
    width: 25%;
    padding: 1%;
}



input{
    
    display:inline-block;
    width: 100px;

}
label{
    display:inline-block;
    width: 80px;
    font-weight: bold;
}
span{
    font-weight: bold;
    color:rgb(18, 19, 122)
}
.results-container{
    display: inline-block;
    width: 30%;
    background-color: rgb(56, 136, 156);
    padding: 1%;
}
img{
    width: 100%;
}
#tab-buck{
    background-color: rgb(21, 24, 160);
    border-color: #aaa;
    color: rgb(238, 227, 227);
    border-radius: 5px 5px 0 0;
}
