#buck-container{
    background-color: darkgrey;
}
#boost-container{
    background-color: rgb(105, 145, 123);
}

input{
    
    display:inline-block;
    width: 100px;
}
label{
    display:inline-block;
    width: 50px;
    font-weight: bold;
}

